# WorkShop 2

Let's play with pandas and answer "stakeholders" _questions_.

Problems $2-13$ rely on your `Problem 1` answer.

## Problem  1

Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of __energy_df__.

Keep in mind that this is an _Excel file_, and not a _comma separated values file_. Also, make sure to _exclude_ the footer and header information from the datafile. The first _two columns_ are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

```python
['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]
```

Convert `Energy Supply` to _gigajoules_ (there are $1000000$ _gigajoules_ in a _petajoule_**). For all countries which have missing data (_e.g._ data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (_for use in later questions_):

```bash
"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"
```

There are also several countries with parenthesis in their name. Be sure to _remove these_, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`. Additionally, there are several countries with _Numeric digits_ in their name. Make sure to remove these as well, e.g. `'Italy9'` should be `'Italy'`. 

Next, load the GDP data from the file `assets/world_bank.csv`, which is a _csv_ containing countries' GDP from $1960$ to $2015$ from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame __gdp_df__. 

Make sure to _skip the header_, and _rename_ the following list of countries:

```bash
"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"
```

Finally, load the [Scimago Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their _journal contributions_ in the aforementioned area. Call this DataFrame __scimago_df__.

Join the _thrgoee datasets_: _energy\_df_, _gdp\_df_ and _scimago\_df_, into a new dataset (using the _intersection_ of _country names_). Use only the _last_ $10$ years ($2006-2015$) of __GDP data__ and only the _top 15 countries_ by __Scimagojr 'Rank'__ (_Rank 1 through 15_). 

The _index_ of this DataFrame should be the __name__ of the country, and the _columns_ should be:
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015']`.

_This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank"._

In [82]:
#!pip install xlrd
#!pip install openpyxl
import pandas as pd
import numpy as np

def generate_energy_df():
    """ 
    
    """
    # YOUR CODE HERE load dataframe and remove header and footer
    energy_df = pd.read_excel(
        './assets/Energy Indicators.xls',
        skiprows=17,
        skipfooter=38,
        usecols="C:F",
        names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    )

    # YOUR CODE HERE transform data
    energy_df['Energy Supply'] *= 1_000_000
    energy_df = energy_df.replace({'...': np.nan})

    # YOUR CODE HERE transform Country column

    energy_df['Country'] = energy_df['Country'].str.replace(r'\s*\(.*\)\s*', '', regex=True)
    energy_df['Country'] = energy_df['Country'].str.replace(r'\d+', '', regex=True)

    energy_df['Country'] = energy_df['Country'].replace({
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"
    })

    return energy_df

def get_GDP_df():
    gdp_df = pd.read_csv('./assets/world_bank.csv', skiprows=4)
    gdp_df.rename(columns={'Country Name': 'Country'}, inplace=True)



    # YOUR CODE HERE load data, remove header, adjust column names
    country_renames = {
        "Korea, Rep.": "South Korea",
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong",
    }
    gdp_df['Country'].replace(country_renames, inplace=True)


    # YOUR CODE HERE transform Country column 
    gdp_df = gdp_df.drop(gdp_df.columns[1:-10], axis=1)
    return gdp_df

def get_scimago_df():
    # YOUR CODE HERE load data
    scimago_df = pd.read_excel('assets/scimagojr-3.xlsx')
    return scimago_df

def answer_one():
    energy_df = generate_energy_df()
    gdp_df = get_GDP_df()
    scimago_df = get_scimago_df()

    df = pd.merge(energy_df, gdp_df, on='Country', how='inner')
    df = pd.merge(scimago_df.iloc[:15], df, on='Country', how='inner')
    df.set_index('Country', inplace=True)
    df.sort_values('Rank', inplace=True)
    return df

generate_energy_df().head(50)
#answer_one().head(20)

C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10.0,78.669280
1,Albania,102000000,35.0,100.000000
2,Algeria,1959000000,51.0,0.551010
3,American Samoa,.................................................,NaN,0.641026
4,Andorra,9000000,121.0,88.695650
5,Angola,642000000,27.0,70.909090
6,Anguilla,2000000,136.0,0.000000
7,Antigua and Barbuda,8000000,84.0,0.000000
8,Argentina,3378000000,79.0,24.064520
9,Armenia,143000000,48.0,28.236060
10,Aruba,12000000,120.0,14.870690
11,Australia,5386000000,231.0,11.810810
12,Austria,1391000000,164.0,72.452820
13,Azerbaijan,567000000,60.0,6.384345
14,Bahamas,45000000,118.0,0.000000
15,Bahrain,574000000,425.0,0.000000
16,Bangladesh,1625000000,10.0,1.966329
17,Barbados,19000000,69.0,0.000000
18,Belarus,1142000000,120.0,0.463389
19,Belgium,2338000000,210.0,9.959739
20,Belize,13000000,39.0,64.690030
21,Benin,170000000,16.0,0.000000
22,Bermuda,6000000,88.0,0.000000
23,Bhutan,63000000,83.0,100.000000
24,Bolivia,336000000,32.0,31.477120
25,"Bonaire, Sint Eustatius and Saba",5000000,213.0,0.000000
26,Bosnia and Herzegovina,266000000,70.0,41.464670
27,Botswana,86000000,39.0,0.131406
28,Brazil,12149000000,59.0,69.648030
29,British Virgin Islands,2000000,85.0,0.000000
30,Brunei Darussalam,127000000,310.0,0.045434
31,Bulgaria,703000000,97.0,17.234610
32,Burkina Faso,164000000,10.0,14.500680
33,Burundi,58000000,6.0,86.792450
34,Cabo Verde,7000000,15.0,21.227620
35,Cambodia,250000000,17.0,57.311590
36,Cameroon,307000000,14.0,70.886260
37,Canada,10431000000,296.0,61.945430
38,Cayman Islands,8000000,131.0,0.000000
39,Central African Republic,23000000,5.0,85.635360
40,Chad,77000000,6.0,0.000000
41,Chile,1613000000,92.0,28.006570
42,China,127191000000,93.0,19.754910
43,Hong Kong,585000000,82.0,0.000000
44,"China, Macao Special Administrative Region",47000000,83.0,0.000000
45,Colombia,1513000000,32.0,63.002840
46,Comoros,5000000,7.0,11.627910
47,Congo,102000000,23.0,57.748870
48,Cook Islands,1000000,48.0,0.000000
49,Costa Rica,222000000,47.0,88.736420

In [83]:
# example of test cases
assert type(answer_one()) == pd.DataFrame, "Q1: You should return a DataFrame!"
assert answer_one().shape == (15,20), "Q1: Your DataFrame should have 20 columns and 15 entries!"

C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp_df['Country'].replace(country_renames, inplace=True)

C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp_df['Country'].replace(country_renames, inplace=True)

In [84]:
# space for proffesor tests

## Problem 2

The _Problem 1_ joined three datasets then reduced this to just the top $15$ entries. When you joined the datasets, but before you reduced this to the top $15$ items, how many entries did you lose?

_This function should return a single number._

In [85]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [86]:
def answer_two():
    # YOUR CODE HERE
    merged_df = answer_one()
    complete = pd.merge(generate_energy_df(), get_GDP_df(), on='Country', how='outer')
    complete = pd.merge(get_scimago_df(), complete, on='Country', how='outer')

    return len(complete) - len(merged_df)

In [87]:
# example of test cases
assert type(answer_two()) == int, "Q2: You should return an int number!"

C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp_df['Country'].replace(country_renames, inplace=True)
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp_df['Country'].replace(country_renames, inplace=True)

In [88]:
# space for proffesor tests

## Problem 3

What are the top $15$ countries for average GDP over the last $10$ years?

_This function should return a Series named `avg_gdp` with $15$ countries and their average GDP sorted in descending order._

In [96]:
def answer_three():
    # YOUR CODE HERE
    avg_gdp = answer_one().iloc[:, 10:].mean(axis=1).sort_values(ascending=False)

    return avg_gdp
answer_three().head(50)

C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp_df['Country'].replace(country_renames, inplace=True)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [90]:
# example of test cases
assert type(answer_three()) == pd.Series, "Q3: You should return a Series!"

C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp_df['Country'].replace(country_renames, inplace=True)

In [91]:
# space for proffesor tests

# Problem 4

By how much had the GDP changed over the $10$ year span for the country with the $6-th$ largest average GDP?

_This function should return a single number._

In [101]:
def answer_four():
    # YOUR CODE HERE
    """
    Calculate the GDP change over 10 years for the country with the largest average GDP.
    """
    avg_gdp = answer_three()
    sixth_country = avg_gdp.index[5]  
    gdp_df = get_GDP_df().set_index('Country')
    gdp_change = gdp_df.loc[sixth_country].iloc[-1] - gdp_df.loc[sixth_country].iloc[0]
    gdp_change = float(gdp_change)
    return gdp_change

print(answer_four())

246702696075.3999

C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp_df['Country'].replace(country_renames, inplace=True)
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp_df['Country'].replace(country_renames, inplace=True)

In [102]:
# example of test cases
assert type(answer_four()) == float, "Q4: You should return a single number!"

C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp_df['Country'].replace(country_renames, inplace=True)
C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp_df['Country'].replace(country_renames, inplace=True)

In [ ]:
# space for proffesor tests

## Problem 5

What is the _mean energy supply per capita_?

_This function should return a single number._

In [109]:
def answer_five():
    energy_df = generate_energy_df()
    mean_energy_supply_per_capita = float(energy_df['Energy Supply per Capita'].mean())
    return mean_energy_supply_per_capita
print(answer_five())

90.66666666666667

C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})

In [110]:
# example of test cases
assert type(answer_five()) == float, "Q5: You should return a single number!"

C:\Users\Sol Cely\AppData\Local\Temp\ipykernel_15580\347947759.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace({'...': np.nan})

In [ ]:
# space for proffesor tests

## Problem 6

What __country__ has the _maximum % Renewable_ and what is the _percentage_?

_This function should return a tuple with the name of the country and the percentage._

In [ ]:
def answer_six():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_six()) == tuple, "Q6: You should return a tuple!"
assert type(answer_six()[0]) == str, "Q6: The first element in your result should be the name of the country!"

In [ ]:
# space for proffesor tests

## Problem 7

Create a new column that is the _ratio of Self-Citations to Total Citations_. 
What is the _maximum_ value for this new column, and what _country_ has the _highest ratio_?

_This function should return a tuple with the name of the country and the ratio._

In [ ]:
def answer_seven():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_seven()) == tuple, "Q7: You should return a tuple!"
assert type(answer_seven()[0]) == str, "Q7: The first element in your result should be the name of the country!"

In [ ]:
# space for proffesor tests

## Problem 8

Create a column that estimates the _population using Energy Supply_ and _Energy Supply per capita_. 
What is the _third_ most populous country according to this estimate?

_This function should return the name of the country._

In [ ]:
def answer_eight():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_eight()) == str, "Q8: You should return the name of the country!"

In [ ]:
# space for proffesor tests

## Problem 9

Create a column that estimates the _number of citable documents per person_. 

What is the correlation between the _number of citable documents per capita_ and the _energy supply per capita_? Use the `.corr()` method, (Pearson's correlation).

_This function should return a single number._

In [ ]:
def answer_nine():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert answer_nine() >= -1. and answer_nine() <= 1., "Q9: A valid correlation should between -1 to 1!"

In [ ]:
# space for proffesor tests

## Problem 10

Create a new column with a $1$ if the _country's % Renewable_ value is at or above the median for all countries in the _top 15_, and a $0$ if the _country's % Renewable_ value is below the median.

_This function should return a series named `high_renew` whose index is the country name sorted in ascending order of rank._

In [ ]:
def answer_ten():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_ten()) == pd.Series, "Q10: You should return a Series!"

In [ ]:
# space for proffesor tests

## Problem 11

Use the following dictionary to group the _Countries by Continent_, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the _sum_, _mean_, and _std deviation_ for the estimated population of each country.

```python
ContinentDict  = {
    'China':'Asia', 
    'United States':'North America', 
    'Japan':'Asia', 
    'United Kingdom':'Europe', 
    'Russian Federation':'Europe', 
    'Canada':'North America', 
    'Germany':'Europe', 
    'India':'Asia',
    'France':'Europe', 
    'South Korea':'Asia', 
    'Italy':'Europe', 
    'Spain':'Europe', 
    'Iran':'Asia',
    'Australia':'Australia', 
    'Brazil':'South America'
}
```

_This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`_

In [ ]:
def answer_eleven():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_eleven()) == pd.DataFrame, "Q11: You should return a DataFrame!"
assert answer_eleven().shape[0] == 5, "Q11: Wrong row numbers!"
assert answer_eleven().shape[1] == 4, "Q11: Wrong column numbers!"

In [ ]:
# space for proffesor tests

## Problem 12

Cut (check `.cut()` from Pandas) _% Renewable_ into $5$ bins, but in the same column. Group _Top15_ by the _Continent_, as well as these new _% Renewable_ bins. How many countries are in each of these groups? You could check `.size()` as aggregation in group by.

_This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable` (in string datatype). Do not include groups with no countries._

In [ ]:
def answer_twelve():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_twelve()) == pd.Series, "Q12: You should return a Series!"
assert len(answer_twelve()) == 9, "Q12: Wrong result numbers!"

In [ ]:
# space for proffesor tests

## Problem 13

Convert the _Population Estimate_ series to a string with thousands separator (using _dots_). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12.345.678,90

_This function should return a series `pop_est` whose index is the country name and whose values are the population estimate string_

In [ ]:
def answer_thirteen():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_thirteen()) == pd.Series, "Q13: You should return a Series!"
assert len(answer_thirteen()) == 15, "Q13: Wrong result numbers!"

In [ ]:
# space for proffesor tests